<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 403</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css') }}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>
<body>    
    <main>
        <img src="{{ url_for('static', filename='src/logo.svg') }}" class="logo-small" />
        <h1 class="title">\(^Д^)/</h1>
        <div style="padding-bottom: 30px;"></div>
        <h1 class="title">ERROR 403</h1>
        <h1 class="title">Forbidden</h1>
        <div style="padding-bottom: 30px;"></div>
        <p><a href="{{url_for('home.home_page')}}">Go back to the home page</a></p>
        <p><a href="{{url_for('home.home_page')}}">Go back to the home page</a></p>
        <p><a href="{{url_for('home.home_page')}}">Go back to the home page</a></p>
        <p><a href="{{url_for('home.home_page')}}">Go back to the home page</a></p>
        <p><a href="{{url_for('home.home_page')}}">Go back to the home page</a></p>
        <p><a href="{{url_for('home.home_page')}}">Go back to the home page</a></p>
    </main>
</body>
<script type="text/javascript" src="{{ url_for('static', filename='js/blackpill_logo.js') }}"></script>
</html>