<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Membership</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='src/favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css') }}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>
<body>

    {% include 'include/nav.html' %}
    {% include 'include/account.html' %}
    
    <main>
        {% include 'include/notifications.html' %}
        <img src="{{ url_for('static', filename='src/logo.svg') }}" class="logo-small" />
        <h1 class="title">Become a member 🤙🏻</h1>
        <div style="padding-bottom: 30px;"></div>

        <p>To use all of the services of BlackPill, you must become a member.</p>
        <div style="padding-bottom: 20px;"></div>

        <p>Here is an invoice of <span>{{price}}</span> sats for {{current_user.username}} :</p>
        <div style="padding-bottom: 20px;"></div>

        
        <img style="width: 150px;" src="{{ qrcode(invoice, back_color='101012', fill_color='f0f7f4') }}" />
        <div style="padding-bottom: 20px;"></div>
        <p class="invoice" id="invoice">{{invoice}}</p>
        <div style="padding-bottom: 20px;"></div>

        <p><a href="lightning:{{invoice}}">⚡ Pay</a> || <a id="copyButton" onclick="copyInvoice()">Copy invoice</a> </p>

        <div style="padding-bottom: 30px;"></div>
        <p>Once this invoice is paid, click the button above to activate your membership :</p>
        
        <div style="padding-bottom: 30px;"></div>
        <a href="{{ url_for('membership.check_membership_invoice') }}"><button class="small">Check status</button></a>
        
        <div style="padding-bottom: 70px;"></div>
        <script type="text/javascript">
            function copyInvoice() {
                var copyButton = document.getElementById("copyButton");
                var copyText = document.getElementById("invoice");
                navigator.clipboard.writeText(copyText.innerText);
                copyButton.innerText= "Copied";
              }
        </script>

    </main>
</body>
<script type="text/javascript" src="{{ url_for('static', filename='js/blackpill_logo.js') }}"></script>
</html>